@model LoginViewModel;
@{
    Layout = "~/Views/Auth/Layout.cshtml";
    ViewBag.Title = "Đăng nhập";
}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card w-50">
        <div class="card-body">
            <h3>Đăng nhập</h3>
            <form asp-action="Login" method="post" class="d-flex flex-column gap-2">
                <div asp-validation-summary="ModelOnly"></div>
                <input asp-for="Email" class="form-control" placeholder="Email" data-val-required="Email không được để trống." data-val="true" />
                <span asp-validation-for="Email"></span>
                <input asp-for="Password" type="password" class="form-control" placeholder="Mật khẩu" data-val-required="Mật khẩu không được để trống." data-val="true" />
                <span asp-validation-for="Password"></span>
                <input type="submit" class="btn btn-primary" value="Đăng nhập"/>
            </form>
        </div>
    </div>
</div>