<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ATS.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap_5/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ATS.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="/lib/style/Styles.css">
</head>
<body>
   <div class="container-fluid">
        <div class="row">
            <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
                <div class="position-sticky">
                    <!-- Logo -->
                    <div class="sidebar-header text-center py-3">
                        <img src="~/img/ATS_logo.png" alt="Logo" class="img-fluid my-3">
                    </div>
                    <!-- Navigation Links -->
                    <ul class="nav flex-column mb-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                    <!-- Footer Links -->
                    <div class="sidebar-footer mt-auto">
                        @* <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link px-2 text-muted" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-2 text-muted" href="/">Features</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-2 text-muted" href="/">Pricing</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-2 text-muted" href="/">FAQs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-2 text-muted" href="/">About</a>
                            </li>
                        </ul> *@
                        <p class="text-center text-muted">&copy; 2024 - ATS.TaskCSharp</p>
                    </div>
                </div>
            </nav>
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <!-- Your main content goes here -->
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap_5/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
