@using ATS.Web.Models
@{
    ViewData["Title"] = "Home Page";
}

<div class="top-buffer"></div>
<div class="panel panel-primary" style="text-align: center;">
    <h3 class="panel-heading panel-head" style="font-size: 3rem; color: var(--your-highlight-color); margin-top: 20vh;">
        Yo, WTH bro :0
    </h3>
</div>
