@using ATS.Web.Models
@{
    ViewData["Title"] = "Home Page";
}

<div class="top-buffer"></div>
<div class="panel panel-primary">
    <h3 class="panel-heading panel-head">
        Xin chào
    </h3>
</div>